#profile{
	float:left;
	width:320dips;
	background:#195070;
	height:100%; 
	position:fixed;

}
.upbtn{
	display: none;
}
#name{
	 color:white;
	 text-align:center;
	 font-size:3em;
	 margin-top:35dips;

}
body{
	background:#202020; 
	font-family:comic sans ms;

}
.timeline{
	color:white;
	font-size: 1em;
	margin-left: 350px;
	}
	p a{
		color: white;
		text-decoration: none;
		border:2px solid white; 
	}
p{
	margin:0 auto;
	text-align:center; 
	font-size:2em;
}	
#icn{
	color:#202020;
	margin-left: 5dips;
	font-size: 50px;
}
#events{
	margin:0 auto;
	position: relative;
}
#evt:hover{
	background:white;
	color:#195070;
	
}
#evts{
	display: none;
}
h1{
	text-align: center;
	font-size: 3em;
}
#icn:hover{color: cyan;}
#q{
	color:white;;
	margin-left: 20dips;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em; 	
}
