#profile{
	
	width:330dips;
	background:#195070;
	height:500dips; 
	position:fixed;
	margin-top: ;
}
#name{
	 color:white;
	 text-align:center;
	 font-size:3em;
	 margin-top:0dips;
}
#events{
	display: none;
}
body{
	background:#202020; 
	font-family:comic sans ms;

}
.timeline{
	color:white;
	margin-top: 100dips;
	}
	p a{
		color: white;
		text-decoration: none; 
	}
p{
	margin:0 auto;
	text-align:center; 
	font-size:1em;
}	
#icn{
	color:#202020;
	font-size: 35px;
}
h1{
	text-align: center;
	font-size: 2em;
}
#icn:hover{color: cyan;}
#q{
	color:white;;
	margin:0 auto; 
	font-weight: bold;
	font-size: 1em; 	
}
#eventsm{
	margin:5dips;
	font-size:1em; 
}
#evts:hover{
	background:white;
	color: #195070;
}
