#Name{
					text-align: center;
					padding-right: 100px;
					color: teal;
					font-weight: bold;
					font-size: 45px;
					font-family: sans-serif;

					}
			.about{
					margin:auto;
					color:white;
					background: black;
					font-size: 30px;
        			text-align: center;
        			padding: 0px 0px -150px 0px;
        			border-bottom:2px solid cyan;


					}
    		#img1{
    				margin: auto;
    				
    			}
	
			.content{
					color:#4CB6D9;
					font-size: 25px;
					padding-left: 100px;
					margin: 0px 0px 500px 0px;
					padding-left: 100px;
					border-left: 10px solid cyan;

					}
			.thanks{
					 text-align: center;
					}
			.img-circle{
				     border-radius: 50%;
						}

		body{
		background: black;
			}
